article, aside, details, figcaption, figure, footer, header, main, nav, section {
    display: inline;
}
body {
    font-family: 'Raleway', serif !important;
    line-height: 200%;
    width: 100%;
    height: 100%;
}
section {
    min-height: 350px;
    padding-top: 60px;
}

/* Everything withing nav */


.navbar .container > li > a{
	color: white;
}
.navbar-header {
	float: right;
	width: auto;
	overflow: hidden;
}
.navbar .navbar-brand {
	position: absolute;
	left: 20px;
	font-size: 1.4em;
}
.navbar-header-right {
	float: right !important;
    margin-right: -15px;
	vertical-align: top;
    right: 0;
    top: 0;
    font-size: 1em;
}

/* Header area */
#hn h1 {
	font-size: 3em;
}
.header-wrapper #hq p {
	margin-top: 110px;
	text-align: center;
	font-size: 2.3em;
}


/* Main body */
.body-container {
	padding: 100px;
}
.body-container section {
	text-align:justify;
}
p {
	text-align:justify;
}

hr {
	width: 1000px;
}
hr:before {
    display: inline-block;
    content: "";
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
}

/* Portfolio */


/* Contact me at */
#contact {
	min-height: 350px;
	padding-top: 60px;
}
.thumbnail {
	border: none !important;
}
#contact-img {
	max-height: 300px;
}
section ul li {
	display: inline-block;
	padding: 0 20px;
}

/*Footer Area*/
.footing {
	margin-left: 450px;
	width: 50%;
	overflow: hidden;
	text-align: center;
}



/* Blog page CSS */
.container-blog {
	margin-left: 300px;
	width: 450px;
	height: 100px;
	margin-top: 50px;
	float: left;
}

















